.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

/content/self help.md
/content/daily

/content/interview/CV.md
/content/interview/BQ.md
/content/interview/CV questions.md